<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="single-widget">
                <h2 class="widget-title">About Us</h2>
                <div class="widget-inner">
                    <p>Offices: #1 Ulica park bb, G.Vakuf      
       #2 Sultan Ahmedova, Bugojno</p>
                    <p>Phone: + (387) 62 116 767</p>
                    <p>Email: m.hadzimehanovic@gmail.com</p>
                    <img src="img/payment.png" alt="payment">
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="single-widget">
                <h2 class="widget-title">Information</h2>
                <div class="widget-inner">
                    <ul>
                        <li><a href="getToUs.php">Get to Us</a></li>
                        <li><a href="termsandconditions.php">Terms and Conditions</a></li>
                        <li><a href="privacypolicy.php">Privacy Policy</a></li>
                        <li><a href="delivery.php">Delivery Information</a></li>
                        <li><a href="manufacturers.php">Manufacturers</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="single-widget">
                <h2 class="widget-title">Our Services</h2>
                <div class="widget-inner">
                    <ul>
                        <li><a href="">Shipping & Returns</a></li>
                        <li><a href="">Secure Shopping</a></li>
                        <li><a href="">International Shipping</a></li>
                    </ul>
                </div>
            </div>
       </div>
       
        <div class="col-md-3 col-sm-3">
            <div class="single-widget">
            
            <h2 class="widget-title">Your Account</h2>
            <div class="widget-inner">
                <ul>
                    <li><a href="accountinfo.php">Account Info</a></li>
                    <li><a href="">Orders</a></li>
                </ul>
            </div>
            </div>
            </div>

    </div>
</div>