<div class="span9" style="text-align:center">
		 
        <div class="col-md-4" style="margin-top:12px;">
            <form method="post" action="processcart.php?action=add&id=<?php echo $id; ?>">
                <div class="itemBox">
                    <a class="item" id="<?php echo $id;?>">                                                     <!--href="singleproduct.html"-->
                        <img src='<?php echo $image_src;  ?>' >
                    </a>
                    <div class="itemCaption" >
                        <h5>Product Name</h5>
                        <p>250 KM</p>
                        
                        <input type="hidden" name="hidden_name" value="<?php echo $row["product_name"]; ?>">
                        <input type="hidden" name="hidden_price" value="<?php echo $row["product_price"]; ?>">
                        <h4 style="text-align:center">
                            <input id="quantity-index" type="number" name="quantity" class="form-control" value="1">
                            <button class="btn-item" name="add">Add to Cart</button>
                        </h4>
                    </div>
                </div>
            </form>
        </div>
    </ul>
</div>