<div class="span9" style="text-align:center">
        <div class="row">
        
        <div class="col-md-4" style="margin-top:12px;">
            <form method="post">
                <div class="itemBox">
                    <a class="item" id="img">                                                     <!--href="singleproduct.html"-->
                        <img src='img/item1.png' >
                    </a>
                    <div class="itemCaption" >
                        <h5>Product Name</h5>
                        <p>800 KM</p>
                        
                        <h4 style="text-align:center">
                            <input id="quantity-index" type="number" name="quantity" class="form-control" value="1">
                            <button class="btn-item" name="add">Add to Cart</button>
                        </h4>
                    </div>
                </div>
            </form>
        </div>
    </ul>
</div>