<hr style="border-color:#ddd;">
<h2 style="font-weight:bold;margin-top:20px;">Manufacturers</h2>
<hr style="border-color:#ddd;">
    <div class="span4" id="okvir" style="margin-top:20px;">
        <a href="http://www.samsung.com/hr/" target=_blank>
            <img src="img/manufacturer1.png" alt="samsungLogo">
        </a>
    </div>
    <div class="span4" id="okvir" style="margin-top:20px;">
        <a href="https://www.sony.com/" target=_blank>
            <img src="img/manufacturer2.png" alt="sonyLogo">
        </a>
    </div>
    <div class="span4" id="okvir" style="margin-top:20px;">
        <a href="https://www.apple.com/" target=_blank>
            <img src="img/manufacturer3.png" alt="appleLogo">
        </a>
    </div>
    <div class="span4" id="okvir">
        <a href="http://www.huawei.com/en/" target=_blank>
            <img src="img/manufacturer4.png" alt="huaweiLogo">
        </a>
    </div>
    <div class="span4" id="okvir">
        <a href="https://www.nokia.com/en_int" target=_blank>
            <img src="img/manufacturer5.png" alt="nokiaLogo">
        </a>
    </div>
    <div class="span4" id="okvir">
        <a href="http://www.lg.com/hr" target=_blank>
            <img src="img/manufacturer6.png" alt="lgLogo">
        </a>
    </div>
    <div class="span4" id="okvir">
        <a href="https://global.blackberry.com/en/index" target=_blank>
            <img src="img/manufacturer7.png" alt="blackberryLogo">
        </a>
    </div>
    <div class="span4" id="okvir">
        <a href="https://www.cat.com/en_GB.html" target=_blank>
            <img src="img/manufacturer8.png" alt="catLogo">
        </a>
    </div>
    <div class="span4" id="okvir">
        <a href="https://www3.lenovo.com/us/en/" target=_blank>
            <img src="img/manufacturer9.png" alt="lenovoLogo">
        </a>
    </div>