	<div class="span9" style="font-size:17px;">
		<div class="well">
		<h3>Account Info</h3>
		<hr>
		<div class="row">
		<h4>Personal Info</h4><br>
		
		<label class="col-md-6"for="title">Title:</label>
		<p class="col-md-6" ><?php echo $title; ?></p><br>
		<label class="col-md-6"for="title">Name:</label>
		<p class="col-md-6" ><?php echo $name; ?></p><br>
		<label class="col-md-6"for="title">Surname:</label>
		<p class="col-md-6" ><?php echo $surname; ?></p><br>
		<label class="col-md-6"for="title">Gender:</label>
		<p class="col-md-6" ><?php echo $gender; ?></p><br>
		<label class="col-md-6"for="title">Date Of Birth:</label>
		<p class="col-md-6" ><?php echo $birthday; ?></p><br>
		<label class="col-md-6"for="title">Username:</label>
		<p class="col-md-6" ><?php echo $username; ?></p><br>
		<label class="col-md-6"for="title">Email:</label>
		<p class="col-md-6" ><?php echo $email; ?></p><br>
		
		<h4 style="margin-top:90px;">Address Info</h4><br>
		<label class="col-md-6"for="title">Country:</label>
		<p class="col-md-6" ><?php echo $country; ?></p><br>
		<label class="col-md-6"for="title">City:</label>
		<p class="col-md-6" ><?php echo $city; ?></p><br>
		<label class="col-md-6"for="title">Postcode:</label>
		<p class="col-md-6" ><?php echo $postcode; ?></p><br>
		<label class="col-md-6"for="title">Street:</label>
		<p class="col-md-6" ><?php echo $street; ?></p><br>
		
		</div>
	</div>
	</div>