<!-- Sidebar ================================================== -->
<div id="sidebar" class="span3">

    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        <li class="subMenu open"><a> CATEGORIES</a>
        </li>
        
        <li class="subMenu" id = "smartphones"><a> SMARTPHONES</a>
            <ul class ="ulID" style="display:none;" data-submenu-id="smartphones">
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>Samsung</a></li>
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>Apple</a></li>
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>Nokia</a></li>
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>Sony</a></li>
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>LG</a>
            </ul>
        </li>
        <li class="subMenu" id="personal-computer"><a> PERSONAL COMPUTERS</a>
        <ul class ="ulID" style="display:none;" data-submenu-id="personal-computer">
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>HP</a></li>
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>IBM</a></li>												
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>Unknown Manufacturer</a></li>												
        </ul>
        <li class="subMenu" id = "notebooks"><a>NOTEBOOKS</a>
            <ul class ="ulID" style="display:none;" data-submenu-id="notebooks">
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>HP</a></li>
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>IBM</a></li>												
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>Lenovo</a></li>	
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>Sony</a></li>
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>Samsung</a></li>												
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>Microsoft</a></li>																						
        </ul>
        <li class="subMenu" id = "printers"><a>PRINTERS</a>
            <ul class ="ulID" style="display:none;" data-submenu-id="printers">
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>Samsung</a>
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>HP</a>
            </ul>	
        </li>
        <li class="subMenu" id = "equipment"><a>EQUIPMENT</a>
            <ul class ="ulID" style="display:none;" data-submenu-id="equipment">
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>Earphones</a>
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>Keyboards</a>
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>Mouses</a>
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>Cables</a>
            <li class="unstyled-list-item"><a href="products.html"><i class="icon-chevron-right"></i>Phone Cases</a>
            </ul>	
        </li>
    </ul>
    </div>