<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="social pull-left">
                    <ul>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="action pull-right">
                    <ul>
                        <li><a href="index.php">Home</a></li>
                        <li><a href="delivery.php">Delivery</a></li>
                        <li><a href="getToUs.php">About Us</a></li>
                        <?php	
                        if(isset($_SESSION['username']))
                        {
                            echo '<li><a href="controller/logout.php">Logout</a></li>';
                            echo '<li>Welcome, '.$_SESSION['username'].'</li>';
                        }
                        else
                        {
                            echo '<li><a href="loginform.php">Login</a></li>';
                            echo '<li><a href="registrationForm.html">Register</a></li>';
                        }
                     ?>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>